.button-direction {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.modal-category,
.modal-account {
    .ant-modal {
        .ant-modal-content {
            padding: 50px 24px 20px !important;
        }
    }
}

.modal-list-product {
    .ant-modal {
        .ant-modal-content {
            padding: 48px 24px;
            .ant-modal-body {
                height: calc(100vh - 200px);
                overflow: scroll;
            }
        }
    }
}
