// src/components/MenuPage.module.scss
.menu-page {
    .filter-section {
      .filter-buttons {
        button {
          border-radius: 20px;
        }
      }
    }
  
   
  }
  .search-wrapper{
    margin-left: auto;
    width: 400px;

    .search-bar{
        margin-bottom: 20px;
      }
  }

  