.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     h1 {
        margin: 0;
      }
      
      .user-info {
        display: flex;
        align-items: center;
      }
      
      .user-info span {
        font-size: 1.6rem;
        margin-right: 10px;
      }
      
  }
  
 